.top-nav-bar > ul {
  list-style: none;
}

.top-nav-bar > li {
  display: flex;
  float: left;
justify-content: space-evenly;
}

.top-nav-bar > a {
  display: block;
  padding: 8px;
  background-color: #dddddd;

}

.nav-items-sass{
  word-spacing: 0.5rem;
  display: block;
}

.page_item > a {
  color: black;
  list-style: none;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-in-out;
  display: inline;
  text-align: center;
  justify-content: space-evenly;

}

.page_item > a:hover {
  background: -webkit-linear-gradient(rgb(4, 181, 235), rgb(121, 121, 121));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


